<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDUFm26m2jPizJv1BdlZA8LaPXKbAVMx00</string>
	<key>GCM_SENDER_ID</key>
	<string>128782564126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.votingApp</string>
	<key>PROJECT_ID</key>
	<string>voting-app-9c86d</string>
	<key>STORAGE_BUCKET</key>
	<string>voting-app-9c86d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128782564126:ios:3bf92322ac58820a49670f</string>
</dict>
</plist>